{% extends 'admin_app/base/sub_base.html' %}
{% load static %}

{% block card_header %}
    <!-- 新增按鈕 -->
    <h6 class="m-0 font-weight-bold text-primary">
        <button type="button" class="btn btn-primary edit-btn" id="restaurant_add" data-bs-toggle="modal" data-bs-target="#formModal">新增{{ sub_title }}</button>
    </h6>
{% endblock %}

{% block table_id %}restaurant_table{% endblock %}

{% block field_head %}
    {% for field in field_names %}
        <th>{{ field }}</th>
    {% endfor %}
{% endblock %}

{% block field_foot %}
    {% for field in field_names %}
        <th>{{ field }}</th>
    {% endfor %}
{% endblock %}

{% block table_content %}
    {% for restaurant in restaurant_data_list %}
        <tr data-id="{{ restaurant.id }}">
          {% for field, value in restaurant.items %}
            {% if field == 'image_url' %}
              <td data-url="{{ value }}"><img src="{% static 'images/restaurant_app/' %}{{ value }}" alt="餐廳圖片" style="width:100px;height:auto;"></td>
            {% elif field == 'google_url' %}
              <td data-url="{{ value }}"><a href="{{ value }}">點擊這裡前往 Google Map</a></td>
            {% else %}
              <td>{{ value }}</td>
            {% endif %}
          {% endfor %}
            <td>
                <button type="button" class="btn btn-primary edit-btn" id="restaurant_edit_{{restaurant.id}}" data-bs-toggle="modal" data-bs-target="#formModal">修改</button>
                <p> </p>
                <button type="button" class="btn btn-danger del-btn" id="restaurant_delete_{{restaurant.id}}" onclick="return confirm('真的要刪除嗎?')">刪除</button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

<!-- 以下為彈跳表單區域 -->

{% block formmodal_id %}formModal{% endblock %}

{% block modal_title %}
    編輯{{ sub_title }}
{% endblock %}

{% block modal_form_id %}restaurant_form{% endblock %}

{% block modal_form_block %}
  <div class="mb-3" id ="Div_InputRestaurantID">
    <label for="InputRestaurantID" class="form-label">編號</label>
    <input type="text" class="form-label" id="InputRestaurantID" name="restaurant_id" value="" readonly>
    <input type="hidden" id="restaurant_action" name="restaurant_action" value="">
  </div>
  {{ render_form|safe }} 

  <button type="submit" class="btn btn-primary" id="button_restaurant_Submit" onclick="return confirm('真的要修改嗎?')">確認</button>
  <div class="p-3 m-0 border-0 bd-example m-0 border-0 d-none" id="div_alert_restaurant_info"></div>

{% endblock %}