<!-- orders_table.html -->
<h3>{{ title }}</h3>
<hr>
<div class="card shadow">
  <div class="card-header py-3 mb-4" style="border-top: 0.25rem solid #708ee9 !important;">
      <h6 class="m-0 font-weight-bold text-primary">
        <button type="button" class="btn btn-primary edit-btn" id="restaurant_add" data-bs-toggle="modal" data-bs-target="#formModal">新增餐廳資料</button>
      </h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="restaurant_table" width="100%" cellspacing="0">
              <thead>
                  <tr>
                    {% for fieldName in fields %}
                      <th>{{ fieldName }}</th>
                    {% endfor %}
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                    {% for fieldName in fields %}
                      <th>{{ fieldName }}</th>
                    {% endfor %}
                  </tr>
              </tfoot>
              <tbody>
                {% for restaurant in restaurantDatas %}
                    <tr data-id="{{ restaurant.id }}">
                        <td>{{ restaurant.id }}</td>
                        <td>{{ restaurant.name }}</td>
                        <td>{{ restaurant.rating }}</td>
                        <td>{{ restaurant.review_count }}</td>
                        <td>{{ restaurant.address }}</td>
                        <td>{{ restaurant.average_spending }}</td>
                        <td>{{ restaurant.opening_hours }}</td>
                        <td>{{ restaurant.latitude }}</td>
                        <td>{{ restaurant.longitude }}</td>
                        <td>{{ restaurant.image_url }}</td>
                        <td>
                            <button type="button" class="btn btn-primary edit-btn" id="restaurant_edit_{{restaurant.id}}" data-bs-toggle="modal" data-bs-target="#formModal">修改</button>
                            <p> </p>
                            <button type="button" class="btn btn-danger" id="restaurant_delete_{{restaurant.id}}">刪除</button>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>

  <!-- 彈跳視窗(修改表單) -->
  <div class="modal modal-lg fade " id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel">編輯{{ title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- 表單內容 -->
          <form id="restaurant_form">
            <div class="mb-3">
              <label for="InputRestaurantID" class="form-label">編號</label>
              <input type="text" class="form-label" id="InputRestaurantID" name="restaurant_id" value="" readonly>
            </div>
            <div class="mb-3">
              <label for="InputRestaurantName" class="form-label">餐廳名稱</label>
              <input type="text" class="form-control" id="InputRestaurantName" name="restaurant_name">
            </div>
            <div class="mb-3">
              <label for="InputRestaurantRating" class="form-label">評分</label>
              <input type="text" class="form-control" id="InputRestaurantRating" name="restaurant_rating">
            </div>
            <div class="mb-3">
              <label for="InputRestaurantReviewCount" class="form-label">評論數</label>
              <input type="text" class="form-control" id="InputRestaurantReviewCount" name="restaurant_review_count">
            </div>
            <div class="mb-3">
              <label for="InputRestaurantAddress" class="form-label">地址</label>
              <input type="text" class="form-control" id="InputRestaurantAddress" name="restaurant_address">
            </div>
            <div class="mb-3">
              <label for="InputRestaurantAverageSpending" class="form-label">平均消費</label>
              <input type="text" class="form-control" id="InputRestaurantAverageSpending" name="restaurant_average_spending">
            </div>
            <div class="mb-3">
              <label for="InputRestaurantBusinessHours" class="form-label">營業時間</label>
              <input type="text" class="form-control" id="InputRestaurantBusinessHours" name="restaurant_business_hours">
            </div>
            <div class="mb-3">
              <label for="InputRestaurantLatitude" class="form-label">緯度</label>
              <input type="text" class="form-control" id="InputRestaurantLatitude" name="restaurant_latitude">
            </div>
            <div class="mb-3">
              <label for="InputRestaurantLongitude" class="form-label">經度</label>
              <input type="text" class="form-control" id="InputRestaurantLongitude" name="restaurant_longitude">
            </div>
            <div class="mb-3">
              <label for="InputRestaurantImageUrl" class="form-label">圖片網址</label>
              <input type="text" class="form-control" id="InputRestaurantImageUrl" name="restaurant_image_url">
            </div>
            <button type="submit" class="btn btn-primary" id="button_restaurant_Submit" onclick="return confirm('真的要修改嗎?')">確認</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
