{% extends 'admin_app/base/sub_base.html' %}

{% block card_header %}
<!-- 新增按鈕 -->
<h6 class="m-0 font-weight-bold text-primary">
  <button type="button" class="btn btn-primary edit-btn" id="restaurant_add_category" data-bs-toggle="modal" data-bs-target="#Restaurantcategory_formModal">新增{{ sub_title }}</button>
</h6>
{% endblock %}

{% block table_id %}restaurant_category_table{% endblock %}

{% block field_head %}
    {% for fieldName in fields %}
        <th>{{ fieldName }}</th>
    {% endfor %}
{% endblock %}

{% block field_foot %}
    {% for fieldName in fields %}
        <th>{{ fieldName }}</th>
    {% endfor %}
{% endblock %}

{% block table_content %}
    {% for restaurant in restaurantDatas %}
      <tr data-id="{{ restaurant.id }}">
          <td>{{ restaurant.id }}</td>
          <td>{{ restaurant.name }}</td>
      </tr>
    {% endfor %}
{% endblock %}
