{% extends 'admin_app/base/sub_base.html' %}

{% block card_header %}
    <!-- 新增按鈕 -->
    <h6 class="m-0 font-weight-bold text-primary">
      <button type="button" class="btn btn-primary edit-btn" id="admin_member_add" data-bs-toggle="modal" data-bs-target="#admin_member_formModal">新增後台會員資料</button>
    </h6>
{% endblock %}

{% block table_id %}admin_member_table{% endblock %}

{% block field_head %}
    {% for fieldName in fields %}
        <th>{{ fieldName }}</th>
    {% endfor %}
{% endblock %}

{% block field_foot %}
    {% for fieldName in fields %}
        <th>{{ fieldName }}</th>
    {% endfor %}
{% endblock %}

{% block table_content %}
    {% for user in users %}
      <tr data-id="{{ user.id }}">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_staff }}</td>
        <td>{{ user.is_superuser }}</td>
        <td>{{ user.is_active }}</td>
        <td>
            <button type="button" class="btn btn-primary edit-btn" id="user_edit_{{user.id}}" data-bs-toggle="modal" data-bs-target="#admin_member_formModal">修改</button>
            <p> </p>
            <button type="button" class="btn btn-danger" id="user_delete_{{user.id}}">刪除</button>
        </td>
      </tr>
    {% endfor %}
{% endblock %}

{% block formmodal_id %}admin_member_formModal{% endblock %}

{% block modal_title %}
    編輯{{ sub_title }}
{% endblock %}

{% block modal_form_id %}admin_member_form{% endblock %}

{% block modal_form_block %}
<input type="hidden" id="admin_member_ID" name="admin_member_ID" value="">
<div class="mb-3">
  <label for="InputAdmin_memberName" class="form-label">帳號</label>
  <input type="text" class="form-control" id="InputAdmin_memberName" name="admin_member_name">
</div>
<div class="mb-3">
  <label for="InputAdmin_memberEmail" class="form-label">電子郵件</label>
  <input type="text" class="form-control" id="InputAdmin_memberEmail" name="admin_member_email">
</div>
<div class="mb-3">
  <label for="InputAdminPassword" class="form-label">密碼</label>
  <input type="password" name="admin_member_password" class="form-control" id="InputAdminPassword">              
</div>
<div class="mb-3">
  <label for="InputAdminPassword" class="form-label">密碼確認</label>
  <input type="password" name="admin_member_password_confirm" class="form-control" id="InputAdminPassword_confirm">
  <div id="alert_checkpassword" class="text-success"></div>
</div>

<div class="p-3 m-0 border-0 bd-example m-0 border-0 d-none" id="div_alert_create_user_info"></div>

<button type="submit" class="btn btn-primary" id="button_create_user" onclick="return confirm('確定要修改?')">確認</button>
{% endblock %}
