{% extends 'admin_app/base/sub_base.html' %}
{% block card_header %}
    <h3>範例</h3>
{% endblock %}

{% block table_id %}examples_table_id{% endblock %}

{% block field_head %}
        <th>範例欄位1</th>
        <th>範例欄位2</th>
        <th>範例欄位3</th>
{% endblock %}

{% block field_foot %}
        <th>範例欄位1</th>
        <th>範例欄位2</th>
        <th>範例欄位3</th>
{% endblock %}

{% block table_content %}
        <tr>
            <td>範例1</td>
            <td>範例2</td>
            <td>範例3</td>
        </tr>
{% endblock %}