{% extends 'admin_app/base/base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block link %}
<!-- main 用 -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
<!-- Custom styles for this template -->
<link href="{% static 'styles/main_sidebars.css' %}" rel="stylesheet">
<link href="{% static 'styles/sidebars.css' %}" rel="stylesheet">
<link href="{% static 'styles/restaurant.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

{% include 'admin_app/base/admin_icon.html' %}

<main class="d-flex flex-nowrap">
<h1 class="visually-hidden">Sidebars examples</h1>
<!-- 定義按下的地方 -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">後台管理</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">      
    {% for key, value in admin_func_type_list.items %}
      {% if key == 'Home' %}
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page" data-no-sub="true">
            <svg class="bi pe-none me-2" width="16" height="16">
            {% if value.button_icon %}  
              <use xlink:href="{{ value.button_icon }}"/></svg>
              {% endif %}
              {{ key }}
          </a>
        </li> 
      {% else %}
          {% if value.sub_detail %}  
            <li>
              <a class="nav-link text-white" data-bs-toggle="offcanvas" href="#{{ key }}" role="button" aria-controls="offcanvasExample">
                <svg class="bi pe-none me-2" width="16" height="16">
                  {% if value.button_icon %}
                    <use xlink:href="{{ value.button_icon }}"/>
                  {% endif %}
                </svg>
                {{ key }}
              </a>
              </li>   
          {% else %}
            <li>
              <a href="#" class="nav-link link-body-emphasis" data-no-sub="true">
                <svg class="bi pe-none me-2" width="16" height="16">
                  {% if value.button_icon %}
                    <use xlink:href="{{ value.button_icon }}"/>
                  {% endif %}
                </svg>
                  {{ key }}
              </a>
            </li> 
          {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <hr>
  <!-- 個人檔案跟下拉選單 -->
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>
        {% if user.is_authenticated %}
          {{ user.username }}
        {% endif %}
      </strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <form method="post" action="{% url 'admin_app:adminlogout' %}">
          {% csrf_token %}
          <button type="submit" class="dropdown-item">Sign out</button>
        </form>
      </li>
    </ul>
  </div>
</div>

<!-- 子分頁的sidebar -->
{% for key, value in admin_func_type_list.items %}
  {% if value.sub_detail %}
    <div class="offcanvas offcanvas-custom" tabindex="-1" id="{{ key }}" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ key }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <ul class="nav flex-column">
            {% for subid, subitem in value.sub_detail.items %}
              <li><a href="#" class="nav-link" data-page="{{ subid }}">{{ subitem }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

  <!-- 定義子分頁內容 -->
  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% for key, value in admin_func_type_list.items %}
      {% if value.sub_detail %}
        {% for subid, subitem in value.sub_detail.items %}
        <div class="page" id="{{subid}}">
        </div>
        {% endfor %}        
      {% else %}
        {% if key == 'Home' %}
          <div class="page active" id="{{key}}">
          </div>
        {% else %}
          <div class="page" id="{{key}}">
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</main>
{% endblock %}

{% block script %}
<script type="module" src="{% static 'scripts/admin_main.js' %}?v={{ timestamp }}"></script>

{% endblock %}